<!DOCTYPE html>
<html lang="en">
<% var message = 'Login Success'%>
    <% var type = 'success'%>

        <head>

            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <link rel="stylesheet" href="css/style.css">
            <script src="https://kit.fontawesome.com/f87c891e2c.js" crossorigin="anonymous"></script>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
                crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
                crossorigin="anonymous"></script>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Joey's Restaunrant</title>
        </head>


        <body>
            <% if(message){ %>
                <div class="alert alert-<%=type%> alert-dismissible fade show" role="alert" style="text-align: center; margin-top: 70px; margin-bottom: 0px;">
                    <strong>
                        <%= message%>
                    </strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <%}%>
                    <nav class="navbar navbar-dark bg-dark fixed-top">
                        <a class="navbar-brand navactive" href="#" style="margin-left: 50px; font-size: 34px;">Joey's
                            Restaunrant</a>
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link" href="#welcome-section">Welcome</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about-us">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#menu">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/customer/profile">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/">Log out</a>
                            </li> -->


                        </ul>
                    </nav>

                    <section id="welcome-section">
                        <h2 class="top-title"> Joey's Restaunrant</h2>
                        <p>"Best in The City"</p>
                        <hr class="my-4">
                    </section>
                    <section id="about-us" style="padding-top: 100px; padding-bottom: 100px;">
                        <div class="text-content container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1 class="aboutus">About Us</h1>
                                    <div class="fa fa-cutlery fa-2x"></div>
                                    <p>You hungry and want to eat but don't know what you gonna eat today. You can't go
                                        outside
                                        because quarantine.Well then you come the right place for it. You can place an
                                        order
                                        for today, tomorrow or even anyday that you want so you don't have to thing what
                                        to eat
                                        today or tomorrow. Please check menu bellow to see what will gonna serves you.
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <div class="img section">
                                        <img src="img/hamburger.jpg" alt="burger" style="width: 200px; height: 200px;">
                                        <img src="img/pizza.jpg" alt="pizza" style="width: 200px; height: 200px;">
                                        <div class="img-scetion-space" style="height: 5px;"></div>
                                        <img src="img/shami.jpg" alt="shami" style="width: 200px; height: 200px;">
                                        <img src="img/shawarma.jpg" alt="shawarma" style="width: 200px; height: 200px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="menu">
                        <div>
                            <h2 class="menu-title">Menu</h2>
                        </div>
                        <div id="myBtnContainer">
                            <button class="btn btn-primary active" onclick="filterSelection('all')"> Show all</button>
                            <button class="btn btn-primary" onclick="filterSelection('food')">Food</button>
                            <button class="btn btn-primary" onclick="filterSelection('drink')">Drink</button>
                        </div>
                        <!-- <div class="container"> -->
                        <!-- <ul id="portfolio" style="background-color: white;">
                            <li class="column food">
                                <img src="img/shami.jpg" alt="shami" style="width: 200px; height: 200px;">
                                <h2 >Shami</h2>
                            </li>
                            <li class="column food">
                                <img src="img/pizza.jpg" alt="pizza" style="width: 200px; height: 200px;">
                                <h2>Pizza</h2>
                            </li>
                            <li class="column food">
                                <img src="img/hamburger.jpg" alt="hamburger" style="width: 200px; height: 200px;">
                                <h2>Hamburger</h2>
                            </li>
                            <li class="column food">
                                <img src="img/shawarma.jpg" alt="shawarma" style="width: 200px; height: 200px;">
                                <h2>Shawarma</h2>
                            </li>
                            <li class="column drink">
                                <img src="img/pepsi.jpg" alt="pepsi" style="width: 200px; height: 200px;">
                                <h2>Pepsi</h2>
                            </li>
                            <li class="column drink">
                                <img src="img/coca.jpg" alt="coca" style="width: 200px; height: 200px;">
                                <h2>Coca</h2>
                            </li>
                        </ul>
                        </div> -->
                        <div class="row" style="margin-top: 20px;">
                            <div class="column food">
                                <img src="img/shami.jpg" alt="shami">
                                <h4 >Shami</h4>

                            </div>
                            <div class="column food">

                                <img src="img/pizza.jpg" alt="pizza">
                                <h4>Pizza</h4>

                            </div>
                            <div class="column food">
                                <img src="img/hamburger.jpg" alt="hamburger" >
                                <h4>Hamburger</h4>
                            </div>
                            <div class="column food">
                                <img src="img/shawarma.jpg" alt="shawarma">
                                <h4>Shawarma</h4>
                            </div>
                            <div class="column drink">
                                <img src="img/pepsi.jpg" alt="pepsi">
                                <h4>Pepsi</h4>
                            </div>
                            <div class="column drink">
                                <img src="img/coca.jpg" alt="coca">
                                <h4>Coca</h4>
                            </div>
                        </div>
                    </section>
                    <section id="contact">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.164459912127!2d105.62583351547934!3d20.98604369460978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313450f7134b906d%3A0x21c14fca3c91596c!2zUGjDuiBN4bu5LCBOZ-G7jWMgTeG7uSwgUXXhu5FjIE9haSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1620097039496!5m2!1svi!2s"
                            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </section>
                    <footer class="bg-dark text-center text-white">

                        <div class="container p-4 pb-0">

                            <section class="mb-4">

                                <a class="btn btn-outline-light btn-floating m-1"
                                    href="https://www.facebook.com/whit3sh4dow/" target="_blank" role="button"><i
                                        class="fab fa-facebook-f"></i></a>


                                <a class="btn btn-outline-light btn-floating m-1"
                                    href="https://twitter.com/NguynMi15952450" target="_blank" role="button"><i
                                        class="fab fa-twitter"></i></a>


                                <a class="btn btn-outline-light btn-floating m-1"
                                    href="https://mail.google.com/mail/u/0/#inbox" role="button" target="_blank"><i
                                        class="fab fa-google"></i></a>

                                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/N0tail12"
                                    role="button" target="_blank"><i class="fab fa-github"></i></a>
                            </section>

                        </div>

                        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                            © 2021 Copyright:
                            <a class="text-white" href="https://www.facebook.com/whit3sh4dow/"
                                target="_blank">N0tail12</a>
                        </div>
                        <!-- Copyright -->
                    </footer>
                    <script src="/js/style.js"></script>
        </body>

</html>