
		.btn.btn-secondary,
		.btn.btn-primary {
			width: 100px;
			margin: 0 auto 5px auto;
			/*height: 40px;
			margin-left: 90px;*/
		}
        button:hover {
            opacity:1;
          }
		
		#Check1 {
			margin-top: 12px;
		}

		#father {
			background-color: #F6F8FA;
			padding: 2.5rem;
			width: 350px;
			border: solid 3px;
			border-radius: 5px;
			margin: 0 auto 50px auto;
		}

		label {
			display: inline-flex;
			align-items: center;
			font-size: 1.125rem;
			line-height: 40px;
		}

        .modal{
            background-color:rgba(192,192,192,0.3);
        }
		.title {
			font-size: 30px;
			font-weight: 300;
			margin: auto;
			width: 360px;
			color: green;
			text-align: center;
			text-shadow: 2px 2px 5px green;
		}

		.interact {
			display: flex;
			flex-direction: column;
		}

		.main {
			background-color: #282C34;
		}
		

        .signform{
            padding: 4.5rem;
            width: 620px;
            margin: 4.5rem auto 50px auto;
            background-color: #f1f1f1;
        }
        .cancelbtn {
        padding: 14px 20px;
        background-color: #f44336;
        }

        /* Float cancel and signup buttons and add an equal width */
        .cancelbtn, .signupbtn {
        float: left;
        width: 50%;
        }

        
        /* The Close Button (x) */
        .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
        }

        .close:hover,
        .close:focus {
        color: #f44336;
        cursor: pointer;
        }

        .clearfix{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        /* Clear floats */
        .clearfix::after {
        content: "";
        clear: both;
        display: table;
        }
        .nav-link{
            font-size: 30px;
            font-weight: 700;
            color: white;
        }
        #welcome-section{
            background-image: url(/img/background.jpg);
            height: 95vh;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 100%;
        }
        .top-title {
            font-family: 'Playball', cursive;
            font-size: 120px;
            font-weight: 400;
        }
        #welcome-section p{
            font-size: 2rem;
            font-style: italic;
        }
        hr{
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #eee;
        }
        .aboutus {
            margin: 0 auto 50px auto;
            text-align: center;
            font-size: 32px;
            font-weight: 900;
            width: 280px;
            letter-spacing: 0.040em;
            border: 1px solid #2f2e2f;
        }
        .navbar a:hover{
            border-bottom: 3px solid white;
        }
        #menu{
            background-image: url(/img/menu-background.jpg);
            height: 95vh;
            background-attachment: fixed;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        .menu-title{
            font-family: 'Playball', cursive;
            font-size: 120px;
            font-weight: 400;
            color: white;
            border-bottom: 3px solid white;
        }   
        .text-content{
            background-color: white;
        }
        .column.food ,.column.drink{
            margin-top: 50px;
            width: 33.00%;
        }
        .row{
            background-color: white;
        }
        .column.food img, .column.drink img{
            display: block;
            margin: 0 auto 0 auto;
        }
        .show{
            display: block;
        }
        .hidden{
            display: none;
        }